@keyframes grow {
    from {font-size: 1.8em;}
    to {font-size: 2.0em;}
}

html {
    background-color: black;
    height: 100%;
}

body {
    background-color: black;
    color: grey;
    height: 100%;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: grey;
    font-size: 2.0rem;
    font-weight: 600;
}

a.disabled {
    pointer-events: none;
}

#lost2 {
    display: none;
}

#lost1-prompt {
    width: 20rem;
}

#lost1-qs {
    width: 12rem;
}

#yes {
    line-height: 2.0rem;
    width: 3rem;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
}

#yes:hover {
    color: white;
}

#no {
    line-height: 2.0rem;
    width: 2.4rem;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
}

#no:hover {
    color: white;
}